*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: linear-gradient( #42275a , #734b6d );
    color: white;
    font-family: 'Poppins', sans-serif;
}

.location{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 23px;
}

.degree-section .unit{
    margin: 10px;
}

.icon{
    height: 100px;
    width: auto;
}
.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-bottom: -50px;

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 10pt; 
}

.description{
    font-size: 25pt;
}
