<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1> Home Page </h1>
  <a href="/register"> Register</a> <br/>
  <a href="/login">Login</a>
</body>
</html>