<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>

<body>
  <h1>Login Page</h1>
  <form>
    <div class="error" style="background-color: red;"></div><br>
    <label for="username" >Username</label><br>
    <input type="text" id="username" required/><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" required><br>
    <input type="submit" value="login"><br>
    </form>
  <a href="/register">Don't have an accout? Register</a>

  <script>
    const form = document.querySelector('form')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const display = document.querySelector('.error')

   form.addEventListener('submit', async (e) => {
      e.preventDefault()
      display.textContent = ''
      try {
        const res = await fetch('/api/auth/login', {
          method: 'POST',
          body: JSON.stringify({ username: username.value, password: password.value }),
          headers: { 'Content-Type': 'application/json' }
        })
        const data = await res.json()
        if (res.status === 400 || res.status === 401) {
          return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
        }
        data.role === "admin" ? location.assign('/admin') : location.assign('/basic')
      } catch (err) {
        console.log(err.message)
      }

    })
  </script>
</body>

</html>