<h1>Simple Ember Authentication app</h1>
{{#unless session.isAuthenticated}}
  <div class="alert alert-info" role="alert">
    You can {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}} with login <code>letme</code> and password <code>in</code>.
  </div>
{{/unless}}
<div class="alert alert-info" role="alert">
  The Simple ember app provides two routes - the {{#link-to 'protected'}}Protected route Page{{/link-to}} that loads some Ember Data models 
  where the API validates that the request is authorized and the {{#link-to 'auth-error'}}Auth Error Page{{/link-to}} that 
  simulates an authorization error and will result in the session being invalidated.
</div>